{{ header }}
<div class="breadcrumbs">
  <div class="container">
    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">
            <span itemprop="name">{{ breadcrumb.text }}</span>
            <meta itemprop="position" content="{{ loop.index }}" />
          </a>
        </li>
      {% endfor %}
    </ul>{{ text_back_button }}
  </div>
</div>
<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper flex flex_fs">
      <div class="contacts__links"> <a class="contacts__link" href="tel:+{{ telephone2 }}">{{ telephone }}</a>
        <div class="contacts__link">{{ address }}</div><a class="contacts__link" href="mailto:{{ config_email }}">{{ config_email }}</a>
        <div class="contacts__link">{{ text_instagram }} </div>
      </div>
      <div class="contacts__form flex flex_fs">
        <div class="contacts__text">{{ text_contact }}                </div>
        <form class="contact-form" method="post" action="{{ action }}" enctype="multipart/form-data">
          <div>
            <input class="input name-input {% if error_name %}wrong{% endif %}" type="text" name="name" placeholder="{{ entry_name }}" value="{{ name }}">
            {% if error_name %}
            <span class="span_error">{{ error_name }}</span>
            {% endif %}
          </div>
          <div>
            <input class="input email-input {% if error_email %}wrong{% endif %}" name="email" type="text" placeholder="{{ entry_email }}" value="{{ email }}">
            {% if error_email %}
              <span class="span_error">{{ error_email }}</span>
            {% endif %}
          </div>
          <div>
            <textarea class="input message-input {% if error_enquiry %}wrong{% endif %}" name="enquiry" placeholder="{{ entry_enquiry }}">{{ enquiry }}</textarea>
            {% if error_enquiry %}
              <span class="span_error">{{ error_enquiry }}</span>
            {% endif %}
          </div>
          <button class="btn" type="submit">{{ button_submit }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ footer }}
