{{ header }}
<div class="breadcrumbs">
    <div class="container">
        <ul itemscope itemtype="https://schema.org/BreadcrumbList">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ breadcrumb.href }}" itemprop="item">
                        <span itemprop="name">{{ breadcrumb.text }}</span>
                        <meta itemprop="position" content="{{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>{{ text_back_button }}
    </div>
</div>

<section class="guide">
    <div class="container">
        <h2 class="title title_left title_fs40">{{ heading_title }}</h2>
        {% spaceless %}
        <iframe src='https://www.youtube.com/embed/{{ column_left|striptags|trim|replace({'&nbsp;':''}) }}'
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden} html,body{height:100%} img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto} .play{position: absolute; right: 50%;transform: translateX(50%) translateY(-50%);top: 50%; height:120px; width:120px; transition:.4s all;} .play:hover {transform:translateX(50%) translateY(-50%) scale(1.1);} @media(max-width:768px){.play {width:32px;height: 32px} } </style> <a href='https://www.youtube.com/embed/{{ column_left|striptags|trim }}?autoplay=1&mute=1'> <img src=https://img.youtube.com/vi/{{ column_left|striptags|trim }}/0.jpg alt='Demo video'> <div class='play'>
<img src='/catalog/view/theme/lovelace/image/play.svg' alt='play'> </a>" frameborder='0'
                allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen>
        </iframe>
        {% endspaceless %}
        <div class="guide__wrapper flex flex_fs">
            <div class="guide__text">
                <div class="text text_fs18">Измерьте себя: охват груди, охват под грудью и объем бёдер. Чтобы снять
                    мерки верно, посмотрите видео выше.
                </div>
                <div class="text text_fs18 text_mt40">Внесите свои параметры в сантиметрах в форму рядом, и ваш размер
                    рассчитается автоматически.
                </div>
            </div>
            <div class="guide__calc flex flex_fs">
                <form class="guide__form">
                    <input class="chest input" type="text" placeholder="Обхват груди">
                    <input class="under-chest input" type="text" placeholder="Обхват под грудью">
                    <input class="hip input" type="text" placeholder="Обхват бедёр">
                    <button class="btn">Рассчитать размер</button>
                    <div class="guide__error">Пожалуйста, проверьте введённые данные или свяжитесь с менеджером через <a href='https://t.me/lovelace2021_bot' target='_blank'>телеграм-бот</a> или <a href='https://www.instagram.com/lovelace.by/' target='_blank'>инстаграм</a>.</div>
                </form>
                <div class="guide__results">
                    <div class="guide__breast"></div>
                    <div class="guide__pants"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
        },
        "headline": "{{ heading_title }}",
        "datePublished": "{{ date }}",
        "dateModified": "{{ date_modified }}",
        "publisher": {
            "@type": "Organization",
            "name": "Google",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ logo }}"
            }
        }
    }
</script>
{{ footer }}
