{{ header }}
<div class="breadcrumbs">
  <div class="container">
    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">
            <span itemprop="name">{{ breadcrumb.text }}</span>
            <meta itemprop="position" content="{{ loop.index }}" />
          </a>
        </li>
      {% endfor %}
    </ul>{{ text_back_button }}
  </div>
</div>

<section class="login">
  <div class="container">
    <div class="login__form">
      <div class="login__login">
        <div class="login__title">
          {% if success %}
            {{ success }}
          {% else %}
            {% if login_way == 'phone' %}
              {{ text_title2 }}
            {% else %}
              {{ text_title }}
            {% endif %}
          {% endif %}
        </div>
        {% if login_way == 'phone' %}
          <input class="input email-input" name="phone" type="text" placeholder="{{ entry_phone }}">
        {% else %}
          <input class="input email-input" name="email" type="text" placeholder="{{ entry_email }}">
        {% endif %}
        <input class="input" type="password" name="password" placeholder="{{ entry_password }}">
        <button class="btn btn-auth" data-loading="{{ text_loading }}">{{ text_sign_in }}</button>
      </div>
      <div class="login__forgot">
        <div class="login__title">{{ text_restore }}</div>
        <input class="input email-input" name="email" type="text" placeholder="{{ entry_email }}">
        <button class="btn" data-loading="{{ text_loading }}">{{ text_reset_pas }}</button>
      </div>
      <div class="login__again">
        <div class="login__title">{{ text_instruction }}</div>
      </div>
    </div>
    <div class="login__links login__first">
      <a class="forgot" href="{{ forgotten }}">{{ text_forgotten }}</a>
      <span>|</span>
      <span>{{ text_no_account }}
        <a href="{{ register }}">{{ text_create }}</a>
      </span>
    </div>
    <div class="login__links forgot__links"> <a href="">{{ login_back }}</a></div>
    <div class="login__links login__again"> <a href="{{ action }}">{{ text_auth }}</a></div>
  </div>
</section>
{{ footer }}
