{{ header }}
<div id="product-search" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              {% else %}
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              {% else %}
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                {% if product.rating %}
                <div class="rating">
                  {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                  {% endfor %}
                </div>
                {% endif %} </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

	  {# // remarketing #}
{% if remarketing_google_json %}
	<script>
	if (typeof sendGoogleRemarketing !== 'undefined') {
		sendGoogleRemarketing({{ remarketing_google_json|json_encode() }});
	}
	</script>
	{% endif %}
	
	{% if remarketing_target_code %}
	{{ remarketing_target_code }}
	{% endif %}
	
	{% if remarketing_vk_code %}
	{{ remarketing_vk_code }}
	{% endif %}
	
	{% if tiktok_remarketing_code %}
	{{ tiktok_remarketing_code }}
	{% endif %}
	
	{% if facebook_remarketing_code %}
	{{ facebook_remarketing_code }}
	{% endif %}
	
	{% if ecommerce_status and ecommerce_product_json %}
	<script>
	{% if remarketing_ecommerce_status %}
	window.dataLayer = window.dataLayer || [];
	dataLayer.push({{ ecommerce_product_json|json_encode() }});
	{% endif %}
	{% if measurement_status %}
	if (typeof sendEcommerceDetails !== 'undefined') {
		sendEcommerceDetails({{ ecommerce_product_json|json_encode() }}, true);
	}
	{% endif %}
	</script>
	{% endif %}
	{% if ecommerce_ga4_status and ecommerce_ga4_product_json %}
	<script>
	if (typeof sendEcommerceGa4Details !== 'undefined') {
		sendEcommerceGa4Details({{ ecommerce_ga4_product_json|json_encode() }}, {% if measurement_ga4_status %}true{% else %}false{% endif %});
	}
	</script>
	{% endif %}
	
	{% if remarketing_ecommerce_json %}
	<script>
	window.ecommerce_products = window.ecommerce_products || {};
	ecommerce_product_data = {{ remarketing_ecommerce_json|json_encode() }};

	if (typeof sendEcommerceImpressions !== 'undefined') {
		sendEcommerceImpressions(ecommerce_product_data, {% if measurement_status %}true{% else %}false{% endif %});
	}
	
	 ecommerce_products = $.extend(ecommerce_products, ecommerce_product_data);
	  </script>
	 {% endif %}
	{% if remarketing_ecommerce_ga4_json %}
	<script>
	window.ecommerce_ga4_products = window.ecommerce_ga4_products || {};
	ecommerce_ga4_product_data = {{ remarketing_ecommerce_ga4_json|json_encode() }};

	if (typeof sendEcommerceGa4Impressions !== 'undefined') {
		sendEcommerceGa4Impressions(ecommerce_ga4_product_data, {% if view_search_results %}true{% else %}false{% endif %}, {% if measurement_ga4_status %}true{% else %}false{% endif %});
	}
	
	 ecommerce_ga4_products = $.extend(ecommerce_ga4_products, ecommerce_ga4_product_data);
	  </script>
	 {% endif %}
	 
	 
	 {% if facebook_remarketing_status and facebook_data_json %}
	<script>
	if (typeof sendFacebookDetails !== 'undefined') {
		sendFacebookDetails({{ facebook_data_json|json_encode() }});
	}
	  </script>
	{% endif %}
	 {% if facebook_remarketing_status and facebook_data_json_category %}
	<script>
	if (typeof sendFacebookCategoryDetails !== 'undefined') {
		sendFacebookCategoryDetails({{ facebook_data_json_category|json_encode() }}, {% if view_search_results %}'true'{% else %}'false'{% endif %});
	}
	  </script>
	{% endif %}
	{% if esputnik_remarketing_status and esputnik_data_json %}
	<script>
	if (typeof sendEsputnikDetails !== 'undefined') {
		sendEsputnikDetails({{ esputnik_data_json|json_encode() }});
	}
	</script>
	{% endif %}
	{% if esputnik_remarketing_status and esputnik_data_category_json %}
	<script>
	if (typeof sendEsputnikCategoryDetails !== 'undefined') {
		sendEsputnikCategoryDetails({{ esputnik_data_category_json|json_encode() }});
	}
	</script>
	{% endif %}
	  
{{ footer }}