{{ header }}
<div class="breadcrumbs">
  <div class="container">
    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">
            <span itemprop="name">{{ breadcrumb.text }}</span>
            <meta itemprop="position" content="{{ loop.index }}" />
          </a>
        </li>
      {% endfor %}
    </ul>s
  </div>
</div>
{% if server_status == '404' %}
  <section class="error">
    <div class="container">
      <div class="error__block">
        {{ text_404 }}
        <div class="error__text">{{ text_title }}</div><a class="error__link" href="{{ catalog_link }}">{{ text_go_catalog }} </a>
      </div>
    </div>
    <picture class="error__img">
      <source srcset="/catalog/view/theme/lovelace/image/404/bg.webp" type="image/webp"><img src="./catalog/view/theme/lovelace/image/404/bg.jpg" alt="404_bg">
    </picture>
  </section>
{% else %}
<section class="account account__create">
  <div class="container">
    <div class="account__wrapper flex flex_fs">
      <div class="account-info" style="width: 535px;">
        <div class="account-info__title">{{ heading_title }}</div>
        {{ text_error }}
        <a href="{{ continue }}" class="btn">{{ button_continue }}</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{{ footer }}

