{{ header }}
<div class="breadcrumbs">
    <div class="container">
        <ul itemscope itemtype="https://schema.org/BreadcrumbList">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ breadcrumb.href }}" itemprop="item">
                        <span itemprop="name">{{ breadcrumb.text }}</span>
                        <meta itemprop="position" content="{{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>{{ text_back_button }}
    </div>
</div>
<section class="account account__create">
    <div class="container">
        <div class="account__wrapper flex flex_fs">
            <div class="account-info" style="width: 535px;">
                <div class="account-info__title">{{ heading_title }}</div>
              {{ text_message }}
              <a href="{{ continue }}" class="btn">{{ button_continue }}</a>
            </div>
        </div>
    </div>
</section>


          {% if (metrica_order_id is defined and metrica_order_id) %} 
            <script type="text/javascript">
                dataLayer.push({
                  "ecommerce": {
                    "currencyCode": "{{ currency_code }}",
                    "purchase": {
                      "actionField": {
                        "id" : "{{ metrica_order_id }}",
                        {% if metrica_coupon is defined and metrica_coupon %}
                        "coupon": "{{ metrica_coupon }}",
                        {% endif %}
                        "revenue": "{{ metrica_total }}"
                      },
                      "products": [
                        {% for product in metrica_order_products %} 
                        {
                          "id": "{{ product["metrica_product_id"] }}",
                          "name": "{{ product["metrica_product_name"] }}",
                          "price": {{ product["metrica_product_price"] }},
                          "brand": "{{ product["metrica_product_manufacturer"] }}",
                          "category": "{{ product["metrica_product_category"] }}",
                          "quantity": {{ product["metrica_product_quantity"] }}
                        },
                        {% endfor %} 
                      ]
                    }
                  }
                });
            </script>
          {% endif %}
        
{{ footer }}
